{% block password_widget %}
	<div class="input-group">
		<input type="{{ type|default('password') }}" {{ block('widget_attributes') }} value="{{ value }}" class="form-control"/>
		<div class="input-group-append pt-2">
			<button class="btn btn-dark toggle-password-btn" type="button">
				<i class="fas fa-eye"></i>
			</button>
		</div>
	</div>
{% endblock %}
