@import "~bootstrap/scss/bootstrap";

.navbar .megamenu {
    width: 100%;
    left: 0;
    right: auto;
}

.half-caroussel .img-bg {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: black;
}

a {
    text-decoration: none;
}