{% extends 'base.html.twig' %}

{% block title %}Les découvertes du Mag' | C'est moi qui régale
{% endblock %}

{% block body %}

	{% include "shared/_header_page.html.twig" %}

	<main
		class="container mb-4">

		<!-- Filter Section -->
		<div class="row justify-content-center">

			<nav class="col-12 col-xxl-11 my-5 px-4 px-xl-2 py-3 py-xl-2">
				<div class="d-flex flex-wrap align-items-stretch justify-content-center">

					{% include 'recipe/_filter.html.twig' with {'recipeForm': recipeForm} only %}

				</div>
			</nav>


		</div>

		<!-- Post and Side bar Section -->
		<div class="row">
			<div class="my-5">

				<div
					class="row g-5">

					<!-- Main Section -->
					<div
						class="col-xl-8 pb-5">

						<!-- Pagination -->
						<div class="d-flex justify-content-center py-4">
							<ul class="pagination">
								<li class="page-item disabled">
									<a class="page-link" href="#">&laquo; Précédent</a>
								</li>
								<li class="page-item active">
									<a class="page-link" href="#">1</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">2</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">3</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">4</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">5</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">Suivant &raquo;</a>
								</li>
							</ul>
						</div>

						{% include 'recipe/_list.html.twig' with { 'recipes': recipes } %}

						<div class="d-flex justify-content-center py-4">
							<ul class="pagination">
								<li class="page-item disabled">
									<a class="page-link" href="#">&laquo; Précédent</a>
								</li>
								<li class="page-item active">
									<a class="page-link" href="#">1</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">2</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">3</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">4</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">5</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">Suivant &raquo;</a>
								</li>
							</ul>
						</div>

					</div>

					<!-- Sidebar -->
					<aside class="col-xl-4 sidebar">

						<div
							class="row position-sticky pt-lg-3 pt-4 p-4 ps-xl-5" style="top:2rem;">
							<!-- Content -->
							{% include "shared/_sidebar_content.html.twig" %}
						</div>

					</aside>

				</div>

			</div>
		</div>

	</main>
{% endblock %}
