{% set menus = menu_service.findAll %}

<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>
			Blog -
			{% block title %}C'est moi qui régale
			{% endblock %}
		</title><link rel="icon" href="{{ asset('images/icon-cmqr.png') }}">
		{% block stylesheets %}
			<link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body><!-- Header --><header role="banner">
			<!-- Main Navbar -->
			{# {% include "shared/_navbar_admin.html.twig" %} #}
		{% include "shared/_navbar_connexion.html.twig" %}


		</header><!-- Header -->{% block body %}
		{% endblock %}
		<!-- Footer -->
	{% include "shared/_footer.html.twig" %}
		<!-- Footer -->
	</body>
</html>
