<header
	class="position-relative text-center">

	<!-- Menu Page-->
	<nav
		class="navbar navbar-expand-lg position-absolute w-100 pb-2 pt-4 z-1" data-bs-theme="light">
		<!-- Container wrapper -->
		<div class="container d-flex border-bottom">

			<h1>
				<a class="navbar-brand p-2 m-0" href="{{ path('app_home') }}"><img src="{{ asset('images/logo-cmqr-variante-blanc.png') }}" alt="C'est moi qui régale" width="180"></a>
			</h1>
			<!-- Toggle button -->
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<!-- Collapsible wrapper -->
			<div
				class="collapse navbar-collapse justify-content-end align-items-center" id="navbarColor03">

				<!-- Links -->
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="#">Accueil</a>
					</li>

					<li class="nav-item dropdown" aria-labelledby="dropdown05">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Recettes</a>

						<!-- Dropdown menu -->
						<div class="dropdown-menu megamenu" aria-labelledby="dropdownMenuButtonAdmin">
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-4">
										<a class="dropdown-item" href="#">Catégorie</a>
										<a class="dropdown-item" href="#">Catégorie</a>
										<a class="dropdown-item" href="#">Catégorie</a>
										<a class="dropdown-item" href="#">Catégorie</a>
									</div>
								</div>
							</div>
						</div>

					</li>

					<li class="nav-item dropdown" aria-labelledby="dropdown05">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Le Mag'</a>

						<!-- Dropdown menu -->
						<div class="dropdown-menu megamenu" aria-labelledby="dropdownMenuButtonAdmin">
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-4">
										<a class="dropdown-item" href="#">Catégorie</a>
										<a class="dropdown-item" href="#">Catégorie</a>
										<a class="dropdown-item" href="#">Catégorie</a>
										<a class="dropdown-item" href="#">Catégorie</a>
									</div>
								</div>
							</div>
						</div>

					</li>

					<li class="nav-item">
						<a class="nav-link" href="#">Trin'k</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">À propos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Image de fond -->
	<img
	src="https://images.unsplash.com/photo-1556911073-52527ac43761?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2340&q=80" alt="Image de fond" class="object-fit-cover w-100" height="400" style="filter: brightness(50%);">


	<!-- Titre -->
	<div class="position-absolute" style="top: 65%; left: 50%; transform: translate(-50%, -50%);">
		<h2 class="text-light">Votre Titre Ici</h2>
		<ol class="breadcrumb justify-content-center">
			<li class="breadcrumb-item">
				<a href="#">Home</a>
			</li>
			<li class="breadcrumb-item">
				<a href="#">Library</a>
			</li>
			<li class="breadcrumb-item active">Data</li>
		</ol>
	</div>

</header>
