<header
	class="position-relative text-center position-relative" style="background-image: url('https://images.unsplash.com/photo-1556911073-52527ac43761?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2340&q=80'); background-size: cover; background-position: center; background-attachment: fixed;">

	<!-- Overlay pour assombrir l'image -->
	<div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); z-index: 1;"></div>

	<!-- Menu Page-->
	<nav
		class="navbar navbar-expand-lg w-100 pb-2 pt-4" data-bs-theme="light">

		<!-- Container wrapper -->
		<div class="container d-flex border-bottom position-relative z-2">
			<h1>
				<a class="navbar-brand p-2 m-0" href="{{ path('app_home') }}"><img src="{{ asset('images/logo-cmqr-variante-blanc.png') }}" alt="C'est moi qui régale" width="180"></a>
			</h1>
			<!-- Toggle button -->
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<!-- Collapsible wrapper -->
			<div
				class="collapse navbar-collapse justify-content-end align-items-center" id="navbarColor03">

				<!-- Links -->
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="#">Accueil</a>
					</li>

					<li class="nav-item dropdown" aria-labelledby="dropdown05">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Recettes</a>

						<!-- Dropdown menu -->
						<div class="dropdown-menu megamenu" aria-labelledby="dropdownMenuButtonAdmin">
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-4">
										<a class="dropdown-item" href="#">Catégorie</a>
										<a class="dropdown-item" href="#">Catégorie</a>
										<a class="dropdown-item" href="#">Catégorie</a>
										<a class="dropdown-item" href="#">Catégorie</a>
									</div>
								</div>
							</div>
						</div>

					</li>

					<li class="nav-item dropdown" aria-labelledby="dropdown05">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Le Mag'</a>

						<!-- Dropdown menu -->
						<div class="dropdown-menu megamenu" aria-labelledby="dropdownMenuButtonAdmin">
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-4">
										<a class="dropdown-item" href="#">Catégorie</a>
										<a class="dropdown-item" href="#">Catégorie</a>
										<a class="dropdown-item" href="#">Catégorie</a>
										<a class="dropdown-item" href="#">Catégorie</a>
									</div>
								</div>
							</div>
						</div>

					</li>

					<li class="nav-item">
						<a class="nav-link" href="#">Trin'k</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">À propos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Contact</a>
					</li>
				</ul>
			</div>
		</div>

	</nav>

	<!-- Titre -->
	<div class="position-relative py-5 z-1">
		<h2 class="text-light">Votre Titre Ici</h2>
		<ol class="breadcrumb justify-content-center">
			<li class="breadcrumb-item">
				<a href="#">Home</a>
			</li>
			<li class="breadcrumb-item">
				<a href="#">Library</a>
			</li>
			<li class="breadcrumb-item active">Data</li>
		</ol>
	</div>

</header>
