{% extends 'base.html.twig' %}

{% block title %}Les découvertes du Mag' | C'est moi qui régale
{% endblock %}

{% block body %}

	{% include "shared/_header_page.html.twig" %}

	<main
		class="container mb-4">

		<!-- Filter Section -->
		<div class="row justify-content-center px-4 px-md-0">

			<nav class="col-12 col-lg-10 my-5 px-4 px-xl-2 py-3 py-xl-2">
				<div class="d-flex flex-wrap align-items-stretch justify-content-center">

					<form class="form-inline d-flex w-100 align-items-center flex-wrap">

						<div class="col-12 col-xl-2 d-flex justify-content-center align-items-center text-center">
							<h3 class="m-xl-0 mb-3 text-primary fs-5">Filtres</h3>
						</div>

						<!-- Dropdown for Category -->
						<div class="col-12 col-xl-3 px-2 py-2">
							<div class="dropdown w-100">
								<button class="btn btn-warning dropdown-toggle w-100" type="button" id="categoryDropdown" data-bs-toggle="dropdown" aria-expanded="false">
									Sélectionner la catégorie
								</button>
								<ul class="dropdown-menu w-100 p-2" aria-labelledby="categoryDropdown">
									<li class="d-flex align-items-center py-1">
										<input type="checkbox" id="category1" name="categories" value="category1" class="me-2">
										<label for="category1">Catégorie 1</label>
									</li>
									<li class="d-flex align-items-center py-1">
										<input type="checkbox" id="category2" name="categories" value="category2" class="me-2">
										<label for="category2">Catégorie 2</label>
									</li>
									<!-- Add more category options here -->
								</ul>
							</div>
						</div>

						<!-- Dropdown for Ingredients -->
						<div class="col-12 col-xl-4 px-2 py-2">
							<div class="dropdown w-100">
								<button class="btn btn-warning dropdown-toggle w-100" type="button" id="ingredientDropdown" data-bs-toggle="dropdown" aria-expanded="false">
									Sélectionner les ingrédients
								</button>
								<ul class="dropdown-menu w-100 p-2" aria-labelledby="ingredientDropdown">
									<li class="d-flex align-items-center py-1">
										<input type="checkbox" id="ingredient1" name="ingredients" value="ingredient1" class="me-2">
										<label for="ingredient1">Ingrédient 1</label>
									</li>
									<li class="d-flex align-items-center py-1">
										<input type="checkbox" id="ingredient2" name="ingredients" value="ingredient2" class="me-2">
										<label for="ingredient2">Ingrédient 2</label>
									</li>
									<!-- Add more sorting options here -->
								</ul>
							</div>
						</div>

						<!-- Dropdown for Sorting -->
						<div class="col-12 col-xl-3 px-2 py-2">
							<div class="dropdown w-100">
								<button class="btn btn-warning dropdown-toggle w-100" type="button" id="sortingDropdown" data-bs-toggle="dropdown" aria-expanded="false">
									Sélectionner le tri
								</button>
								<ul class="dropdown-menu w-100 p-2" aria-labelledby="sortingDropdown">
									<li class="d-flex align-items-center py-1">
										<input type="radio" id="latest" name="sorting" value="latest" class="me-2">
										<label for="latest">Plus récent</label>
									</li>
									<li class="d-flex align-items-center py-1">
										<input type="radio" id="oldest" name="sorting" value="oldest" class="me-2">
										<label for="oldest">Plus ancien</label>
									</li>
									<!-- Add more sorting options here -->
								</ul>
							</div>
						</div>

						<div class="col-12 px-2 py-2 d-flex">
							<input class="form-control me-2" type="search" placeholder="Recherche">
							<button class="btn btn-primary" type="submit">Appliquer</button>
						</div>

					</form>

				</div>
			</nav>


		</div>

		<!-- Post and Side bar Section -->
		<div class="row">
			<div class="my-5">

				<div
					class="row g-5">

					<!-- Main Section -->
					<div
						class="col-xl-8 pb-5">

						<!-- Pagination -->
						<div class="d-flex justify-content-center py-4">
							<ul class="pagination">
								<li class="page-item disabled">
									<a class="page-link" href="#">&laquo; Précédent</a>
								</li>
								<li class="page-item active">
									<a class="page-link" href="#">1</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">2</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">3</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">4</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">5</a>
								</li>
								<li class="page-item">
									<a class="page-link" href="#">Suivant &raquo;</a>
								</li>
							</ul>
						</div>
						{% include 'article/_list.html.twig' with { articles } %}

					</div>

					<!-- Sidebar -->
					<aside class="col-xl-4 sidebar">

						<div
							class="row position-sticky pt-lg-3 pt-4 p-4 ps-xl-5" style="top:2rem;">
							<!-- Content -->
							{% include "shared/_sidebar_content.html.twig" %}
						</div>

					</aside>

				</div>

			</div>
		</div>

	</main>
{% endblock %}
